*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    padding: 0 10px;
}

.restaurant-card-view{
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card{
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.restaurant-card-image{
    width: 100%;
}